@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

body,
html {
  --tw-bg-opacity: 1;
  // background-color: rgb(148 163 184 / var(--tw-bg-opacity)); pexels-markus-spiske-113339.jpg /pexels-jessica-lewis-creative-867465.jpg pexels-polina-tankilevitch-4109745.jpg
  background-image: url(../src/img/pexels-markus-spiske-113339.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Abril Fatface", cursive;
}
